{% extends "base.html" %}

{% block conteudo %}

    <div class="container mt-5">
      <h2 class="mb-4">Adicionar Jogo</h2>
      <form action="" method="POST">
          <div class="mb-3">
              <label for="nomeJogo" class="form-label">Nome do Jogo:</label>
              <input type="text" class="form-control" id="nomeJogo" name="nomeJogo" required>
          </div>
          <div class="mb-3">
              <label for="disciplina" class="form-label">Disciplina:</label>
              <input type="text" class="form-control" id="disciplina" name="disciplina" required>
          </div>
          <div class="mb-3">
              <label for="conteudo" class="form-label">Conteúdo:</label>
              <input type="text" class="form-control" id="conteudo" name="conteudo" required>
          </div>
          <div class="mb-3">
              <label for="descricao" class="form-label">Descrição:</label>
              <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
          </div>
          
          <button type="submit" class="btn btn-info text-light">Atualizar Jogo</button>
          <a class="btn btn-danger" href="{{ url_for('jogo.delete', id=jogo.id) }}">Deletar</a>
      </form>
  </div>

{% endblock %}

{% block script %}
  <script>
    const inputnomeJogo  = document.querySelector('[name="nomeJogo"]');
    inputnomeJogo.value  = '{{jogo.nomeJogo}}';

    const inputdisciplina  = document.querySelector('[name="disciplina"]');
    inputdisciplina.value  = '{{jogo.disciplina}}';

    const inputconteudo  = document.querySelector('[name="conteudo"]');
    inputconteudo.value  = '{{jogo.conteudo}}';

    const inputdescricao  = document.querySelector('[name="descricao"]');
    inputdescricao.value  = '{{jogo.descricao}}';
  </script>
{% endblock %}