{% extends "base.html" %}

{% block conteudo %}

<div class="container mt-5" style="display: flex; flex-flow: column; align-items: center;" >
<form action="{{url_for('usuario.autenticar')}}" method="POST" class="col-md-6"> 
    <div class="mb-3">
      <label for="usuario" class="form-label">E-mail: </label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" name="senha" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

{% endblock %}