{% extends "base.html" %}

{% block conteudo %}
<section class="about-section">
    <div class="container">
        <div class="about-content">
            <h2 class="about-title">Sobre o Projeto</h2>
            <p>Bem-vindo ao <strong>gamificaRN</strong>, um inovador catálogo digital criado especialmente para os
                professores da rede estadual do Rio Grande do Norte. Nosso objetivo é transformar a forma como o ensino
                é conduzido em sala de aula, oferecendo uma coleção diversificada e interativa de jogos digitais
                educacionais.</p>
            <p><strong>gamificaRN</strong> foi desenvolvido para ser uma ferramenta acessível e prática, que facilita a
                integração de recursos digitais no ambiente educacional. Nossa plataforma permite que os educadores
                explorem e selecionem jogos que atendem a diferentes áreas do conhecimento, habilidades e faixas
                etárias, tornando o aprendizado mais envolvente e dinâmico.</p>
            <h2 class="about-title">O que Oferecemos</h2>
            <ul class="list-unstyled">
                <li><strong>Catálogo Completo:</strong> Navegue por uma vasta gama de jogos educativos projetados para
                    complementar o currículo escolar e estimular o aprendizado.</li>
                <li><strong>Recursos Diversos:</strong> Encontre jogos que abordam diversas disciplinas e competências,
                    desde matemática e ciências até linguagem e habilidades socioemocionais.</li>
                <li><strong>Facilidade de Uso:</strong> Nossa interface intuitiva permite que os professores encontrem e
                    implementem rapidamente os jogos em suas aulas, com suporte e orientações disponíveis para cada
                    recurso.</li>
            </ul>
            <p><strong>gamificaRN</strong> é mais do que um simples catálogo; é uma ferramenta que visa enriquecer a
                experiência educacional dos alunos e apoiar os professores na criação de um ambiente de aprendizagem
                inovador e interativo. Junte-se a nós na missão de tornar o ensino mais eficaz e divertido!</p>
        </div>
    </div>
</section>
{% endblock %}